
@tailwind base;
@tailwind components;
@tailwind utilities;


.dynapuff {
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: 447;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.agbalumo-regular {
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
